
.baner
{
    width:600px;
    height:300px;
    border:1px solid #800080;

    margin:auto;
    
    /* background-image: url('images/Study\ corner\ .jpg'); */
    background-image: url('images/Study\ corner\ .jpg'),linear-gradient(45deg, red,blue);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
 
}

/* as a tag */
button
{
    width: 300px;
    padding: 20px;
    background: linear-gradient(45deg, red,blue);
}